version: 1.0.{build}
image: Visual Studio 2017
before_build:
- ps: nuget restore
build:
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  verbosity: normal
before_test:
- ps: nuget restore